.slider__wrapper {
  position: relative;
  width: 50vw;
  height: 60vh;
  overflow: hidden;
}

.slider__content {
  display: flex;
  height: 100%;
  transition: transform;
  transition-duration: 0.2s;
}

.slide__item {
  display: block;
  width: 100%;
  min-width: 100%;
}
